@import "./common.less";
/*袁峰Begin*/
//首页
.top-nav{
  height: 24px;
  background: @lightgrey1;
}
/*袁峰End*/
/*赵亮Begin*/

/*赵亮End*/
/*何伟伦Begin*/

/*何伟伦End*/
/*陈庚Begin*/

/*陈庚End*/



































//何伟伦
















































//陈庚








































//赵亮
.login_bar{
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.login_title{
  margin: 0px 15px;
  border: 1px solid #e2e2e2;
  background:@white;
  -moz-box-shadow:2px 2px 5px #333333;
  -webkit-box-shadow:2px 2px 5px #333333;
  box-shadow:1px 1px 3px #333333;
}
.password_box{
  width: 100%;
  height: 30px;
  line-height: 30px;
  .member_pwd{
    float: left;
  }
  .forget_pwd{
    float: right;
  }
}


















































