@import "./common.less";
/*袁峰Begin*/
//首页
.top-nav{
  height: 24px;
  background: @lightgrey1;
}
/*袁峰End*/
/*赵亮Begin*/

/*赵亮End*/
/*何伟伦Begin*/

/*何伟伦End*/
/*陈庚Begin*/
//会员中心
.memberCenter{
  //头部
  .member-header{
    height: 45px;
    line-height: 45px;
  }
//  内容
  .user-center{
    padding: 0 20px;
  //  左边导航
    .user-nav{
      float: left;
      width: 181px;
      padding-top: 8px;
    }
  //  右边内容
    .user-content{
      float: left;
      width: 945px;
      height: 495px;
      border: 1px solid #c7c7c7;
      padding: 28px 46px 0;
    }
  }
}
/*陈庚End*/



































//何伟伦
















































//陈庚








































//赵亮

.Z_login_title{
  padding: 0px 15px;
}


















































