@import "./common.less";
/*袁峰Begin*/
    /*首页*/
//头部导航
.he-top-nav{
  height: 32px;
  width:1200px;
  background: @lightgrey1;
  line-height: 32px;
  .he-top-nav-list{
    padding: 0 15px;
    img{
      width:100%
    }
  }
}
.he-banner{
  width:100%;
}
//logo和搜索框
.search-centainer{
  width:1200px;
  height:100px;
  line-height: 100px;
}
.logo{
  vertical-align: middle;
  margin-right: 193px;
}
.search-box{
  width:500px;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  .search{
    width:100%;
    height:32px;
    border:2px solid @red;
    position: relative;
  }
  .search-input{
    width:100%;
    height: 100%;
    line-height: 28px;
    padding-left: 20px;
    padding-right: 90px;
    border:0;
    &:focus{
      outline: none;
    }
  }
  .search-btn{
    width:78px;
    height: 28px;
    display: inline-block;
    background: @red;
    text-align: center;
    line-height: 28px;
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .search-text{
    margin-top:8px;
  }
}
//主导航
.mn-main-nav{
  height: 42px;
  line-height: 40px;
  width:1200px;
  border-bottom: 2px solid @red;
  //导航下拉菜单
  .mn-main-nav-classify{
    width: 225px;
    position: relative;
    background:#e9004f;
    .mn-classify-name{
      width:100%;
      text-align: center;
      cursor: pointer;
    }
    .mn-classify-lists{
      width:100%;
      position: absolute;
      padding: 0px;
      top: 42px;
      background: @white;
      line-height: 24px;
      .mn-classify-list{
        min-height: 53px;
        padding-left: 32px;
        border-bottom: 1px solid #ccc;
        .mn-classify-list-title{
          display: block;
        }
        .mn-classify-list-submenu{
          width:722px;
          height: 306px;
          position: absolute;
          border: 1px solid #ff7011;
          left: 200px;
          line-height: 22px;
          background: #fff;
        }
      }
    }
  }
  .mn-main-nav-list{
    width: 200px;
    position: relative;
    text-align: center;
  }
  .mn-a:hover{
    color:red;
  }
}
//底部
.footer{
  height: 300px;
  border-top:5px solid red;
  margin-top: 25px;
  text-align: center;
  .footer-img{
    margin: 20px 0px;
  }
}
//侧导航
.FloatBar-box{
  width: 37px;
  height: 100%;
  background: #444851;
  position: fixed;
  right: 0;
}
.FloatBar-cart{
  text-align: center;
  margin: 5px 10px;
  .yuan{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
  }
}
/*袁峰End*/
/*赵亮Begin*/

/*赵亮End*/
/*何伟伦Begin*/
.slt-navtitle-div{
  height: 45px;
  line-height: 45px;
}

.slt-Payment-process-box ul{
  list-style: none;
  display: flex;
  width: 100%;
  background: url("../img/stepbgs.jpg")no-repeat;
  li{
    flex: 1;
    float: left;
    text-align: center;
    line-height: 31px;
  }
  .sltpayactive{
    color:@white;
  }
}
.shopcart-content-box{
  border-top: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  .shopcart-cft-tit-box{
    line-height: 37px;
    background-color: #e6e4e5;
  }
  ul li{
    width: 100%;
    display: inline-block;
    padding: 16px 0px 16px 20px;
    border-bottom: 1px solid #c7c7c7;

    .spct-commodity-information-box{
      width: 440px;
      float: left;
    }
    .spct-ci-img-a{
      display: block;
      width: 116px;
      height: 116px;
      border: 1px solid #ccc;
      margin-right: 40px;
      float: left;
    }
    .spct-ci-img-a img{
      width: 100%;
      height: 100%;
    }
    .spct-ci-title-box p{
      line-height: 35px;
    }
    .spct-ci-title-box p span{
      color: @pink;
    }
    .spct-pirce-box{
      width: 197px;
      text-align: center;
      float: left;
      line-height: 75px;
      span{
        color: @pink;
      }
    }
  }

}
/*何伟伦End*/
/*陈庚Begin*/

/*陈庚End*/



































//何伟伦
















































//陈庚








































//赵亮
//登录页面css
.login_bar{
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.login_title{
  margin: 0px 15px;
  background:@white;
  -moz-box-shadow:3px 3px 4px -4px #333333;
  -webkit-box-shadow:3px 3px 4px -4px #333333;
  box-shadow:3px 3px 4px -4px #333333;
}
.password_box{
  padding-top: 10px;
  width: 100%;
  height: 50px;
  line-height: 30px;
  .member_pwd{
    float: left;
  }
  .forget_pwd{
    float: right;
  }
}
//注册页面css
.agree_reg_box{
  padding-top: 10px;
  width: 100%;
  height: 50px;
  line-height: 30px;
  .agree_reg_agreement{
    float: left;
  }
  .reg_agreement{
    float: right;
    span{
      text-decoration: underline;
    }
  }
}
.yanzheng_btn{
  display: inline-block;
  font-size: 14px;
  background-color: #8975B4;
  width: 120px;
  float: right;
  color: @white;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: none;
  outline:none;
  cursor: pointer;
  font-weight: normal;
}


















































